{% extends 'base.html' %}

{% block main_content %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="container p-4 shadow rounded">
            <h1 class="mb-4 text-center">Editar Cliente</h1>
            <form method="post">

                {% csrf_token %}

                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="id_nome" class="form-label">Nome:</label>
                        {{ form.nome }}
                    </div>

                    <div class="form-group col-md-6">
                        <label for="id_email" class="form-label">Email:</label>
                        {{ form.email }}
                    </div>

                    <div class="form-group col-md-6">
                        <label for="id_telefone" class="form-label">Telefone:</label>
                        {{ form.telefone }}
                    </div>

                    <!-- Adicione classes de coluna para dispositivos menores -->
                    <div class="form-group col-md-6">
                        <label for="id_corretor" class="form-label">Corretor:</label>
                        {{ form.corretor }}
                    </div>

                    <!-- Adicione classes de coluna para dispositivos menores -->
                    <div class="form-group col-md-6">
                        <label for="id_cpf" class="form-label">CPF:</label>
                        {{ form.cpf }}
                    </div>

                    <!-- Adicione classes de coluna para dispositivos menores -->
                    <div class="form-group col-md-6">
                        <label for="id_valor_da_renda" class="form-label">Valor da Renda:</label>
                        {{ form.valor_da_renda }}
                    </div>

                    <!-- Adicione classes de coluna para dispositivos menores -->
                    <div class="form-group col-md-6">
                        <label for="id_estado_civil" class="form-label">Estado Civil:</label>
                        {{ form.estado_civil }}
                    </div>

                    <!-- Adicione classes de coluna para dispositivos menores -->
                    <div class="form-group col-md-6">
                        <label for="id_status" class="form-label">Status:</label>
                        {{ form.status }}
                    </div>

                    <!-- Adicione classes de coluna para dispositivos menores -->
                    <div class="form-group col-md-6">
                        <label for="id_naturalidade" class="form-label">Naturalidade:</label>
                        {{ form.naturalidade }}
                    </div>

                    <!-- Adicione classes de coluna para dispositivos menores -->
                    <div class="form-group col-md-6">
                        <label for="id_profissao" class="form-label">Profissão:</label>
                        {{ form.profissao }}
                    </div>

                    <!-- Adicione classes de coluna para dispositivos menores -->
                    <div class="form-group col-md-6">
                        <label for="id_data_admissao" class="form-label">Data de Admissão:</label>
                        {{ form.data_admissao }}
                    </div>

                    <!-- Adicione classes de coluna para dispositivos menores -->
                    <div class="form-group col-md-6">
                        <label for="id_data_nascimento" class="form-label">Data de Nascimento:</label>
                        {{ form.data_nascimento }}
                    </div>

                    <!-- Adicione classes de coluna para dispositivos menores -->
                    <div class="form-group col-md-6">
                        <label for="id_renda_tipo" class="form-label">Tipo de Renda:</label>
                        {{ form.renda_tipo }}
                    </div>

                    <!-- Adicione classes de coluna para dispositivos menores -->
                    <div class="form-group col-md-6">
                        <label for="id_possui_carteira_mais_tres_anos" class="form-label">Carteira por mais de três anos:</label>
                        {{ form.possui_carteira_mais_tres_anos }}
                    </div>

                    <!-- Adicione classes de coluna para dispositivos menores -->
                    <div class="form-group col-md-6">
                        <label for="id_numero_pis" class="form-label">Número PIS:</label>
                        {{ form.numero_pis }}
                    </div>

                    <!-- Adicione classes de coluna para dispositivos menores -->
                    <div class="form-group col-md-6">
                        <label for="id_possui_dependente" class="form-label">Possui Dependente:</label>
                        {{ form.possui_dependente }}
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block mt-4">Salvar Alterações</button>
            </form>
        </div>
    </div>
{% endblock %}
