{% extends 'base.html' %}
{% block main_content %}
{% load static %}

<style>
    .custom-table {
        background-color: transparent;
        border-collapse: collapse;
        width: 100%;
    }
    .custom-table th,
    .custom-table td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        color: white;
    }
    .custom-table th {
        background-color: rgba(0, 0, 0, 0.5);
    }
    .custom-table tbody tr:nth-of-type(even) {
        background-color: rgba(0, 0, 0, 0.2);
    }
    .custom-table tbody tr:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
</style>

<div class="container mx-auto py-4 px-2 sm:px-4">
    <div class="card shadow-lg rounded-lg">
        <div class="card-body p-3 sm:p-6">
            <button class="btn btn-primary mb-4 float-end" data-bs-toggle="modal" data-bs-target="#addProcessoModal">Adicionar Proprietário</button>
            <h2 class="text-xl sm:text-2xl font-bold text-center mb-4 text-white p-3 sm:p-4 rounded ">Lista de Proprietários</h2>
            <div class="table-responsive">
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for proprietario in proprietarios %}
                        <tr>
                            <td>{{ proprietario.nome }}</td>
                            <td>{{ proprietario.telefone }}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        Ações
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li><a class="dropdown-item" href="{% url 'editar_proprietario' proprietario.id %}">Editar</a></li>
                                        <li><a class="dropdown-item" href="{% url 'deletar_proprietario' proprietario.id %}">Deletar</a></li>
                                        <li><a class="dropdown-item" href="{% url 'visualizar_documentacao' proprietario.id %}" target="_blank">Visualizar Documentação</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal para adicionar proprietário -->
<div class="modal fade" id="addProcessoModal" tabindex="-1" aria-labelledby="addProcessoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProcessoModalLabel">Adicionar Proprietário</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'adicionar_proprietario' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="nome" name="nome">
                    </div>
                    <div class="mb-3">
                        <label for="telefone" class="form-label">Telefone</label>
                        <input type="text" class="form-control" id="telefone" name="telefone">
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
